@{
    Layout = ""; 
}
<link rel="stylesheet" href="~/Plugins/ExternalAuth.Google/Content/googlestyles.css" />
<div class="google-login-block">
    <div class="buttons">
        <a asp-controller="googleauthentication" asp-action="login" asp-route-returnurl="https://localhost:59579/signin-google" class="google-btn"></a>
    </div>
</div>